@model List<SinectMes.Models.ApplicationRole>
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Data Tables
            <small>advanced tables</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data tables</li>
        </ol>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Roles</h3>
                <a class="btn btn-primary" asp-action="EditRole" asp-controller="Account" asp-route-roldId="0" data-target="#modal-container-create" data-toggle="modal">新增</a>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>角色名称</th>
                        <th>创建时间</th>
                        <th style="width: 140px">是否有效</th>
                        <th>操作</th>
                    </tr>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1).</td>
                            <td>@Model[i].ChineseName</td>
                            <td>@Model[i].CreateTime.ToShortDateString()</td>
                            <td></td>
                            @*<td><a asp-controller="Account" asp-action="EditRole" asp-route-roleId="@Model[i].Id" class="btn btn-primary btn-sm">编辑</a></td>*@
                            <td><a asp-action="EditRole" asp-controller="Account" asp-route-roleId="@Model[i].Id" data-target="#modal-container" data-toggle="modal">编辑</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </section>
    <div id="modal-container-create" class="modal fade hidden-print" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="target">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">新增角色</h4>
                    </div>
                    <form asp-action="AddRole" asp-controller="Account" data-ajax="true" data-ajax-method="POST" data-ajax-mode="REPLACE-WITH" data-ajax-update="#target" class="form-horizontal">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="Name" class="col-sm-2 control-label">角色名称</label>
                                <div class="col-sm-10"><input class="form-control" id="Name" name="Name" /></div>
                            </div>
                            <div class="form-group">
                                <label for="ChineseName" class="col-sm-2 control-label">中文名称</label>
                                <div class="col-sm-10"><input class="form-control" id="ChineseName" name="ChineseName"/></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">OK</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>

</div>

